@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<li class="dropdown">
    <a href="/XEngine/" data-toggle="dropdown" class="dropdown-toggle">
        <img src="Images/Contact.png" class="imgMenu">MenuTest <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a href="/XEngine/"><img src="Images/Computer-icon.png" class="imgMenu">Level 1a</a>
            <ul class="dropdown-menu"><li><a href="/XEngine/"><img src="Images/CC_2.png" class="imgMenu">Level 2</a></li></ul>
        </li>
        <li><a href="/XEngine/"><img src="Images/CC_con.png" class="imgMenu">Level 1b</a></li>
    </ul>
</li>